/* li {
    list-style-type: none;
} */
ul {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li .set{
    height: 20rem;
    border: 5px solid rgb(25, 184, 117);
    box-shadow:5px 5px 5px 5px gray;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(16, 207, 73);
}
ul li a:hover{
    box-shadow:5px 5px 5px 5px rgba(26, 29, 27, 0.9);

}
.ngb-rating {
font-size: 25px;

}
.card{
    margin:10px;
}
.card:hover{
    box-shadow:5px 5px 5px 5px rgba(26, 29, 27, 0.9);

}